:root {
  font-weight: 400;
  box-sizing: border-box;


  color: rgb(21, 21, 21);
}
.navbar {
  background-color: black;
  height: 75px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}


.nav-link {
  color: white;
  font-weight: bold;
  font-size: 19px;
  margin: 50 100px ;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.logo{
  font-size: 30px;
  font-weight: 700;
  padding-left: 40px;
  padding-right: 180px;
}


.home-link,
.add-artwork-link {
  color: white;
  font-weight: bold;
  font-size: 19px;
  margin: 40px; 
  text-decoration: none; 
}


.search {
  display: flex;
  align-items: center;
  margin-left: 350px;
  
}
.search input {
  width: 100%;
  max-width: 400px;
  padding: 7px 15px;
  border: 2px solid #151414;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search input:focus {
  outline: none;
  border-color: #1e1f21;
  box-shadow: 0 0 15px rgb(231, 233, 235);
}

.search input::placeholder {
  color: #555454f8;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #767678;
}

body {
  font-family: "Playfair Display", serif;
  margin: 0%;
 
  
}
.artwork-container{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns:repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.artwork-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s, box shadow 0.3s;
  width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
}

.artwork-card:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.artwork-card img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}
.artwork-card h2{
  font-size: 1.5em;
  color: #333333;
  margin: 8px 0;
}

.artwork-card p{
  color: #777777;
  font-size: 1em;
  margin: 4px 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
